@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500&family=Lobster&family=Lobster+Two:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');
/* font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;    
}

/* Variables */

:root {
    --container-color: rgb(41, 40, 40);
    --second-color: #00ADB5;
    --text-color: rgb(66, 66, 66);
    --bg-color: #fff;
}
::selection {
    color: var(--bg-color);
    background: var(--second-color);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
section {
    padding: 3rem 0 2rem;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow {
    background: var(--bg-color);
    transition: 0.3s;
    box-shadow: -1px 1px 1px 1px rgb(145, 145, 145);
}
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 16px 0;
}
.logo {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--second-color);
    font-family: 'Lobster Two', cursive;
}
.sign-in {
    padding: 8px 13px;
    border: 1px solid var(--bg-color);
    border-radius: 4px;
    color: var(--second-color);
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Lobster Two', cursive;
}
.sign-in:hover {
    color: #fff;
    background: var(--second-color);
    letter-spacing: 1px;
    transition: 0.3s;
    font-weight: 600;
    border: 1px solid var(--second-color);
    box-shadow: 1px 1px 1px 1px rgb(145, 145, 145),
    1px 1px 2px 3px lightgray;
}

/* Home Section */

.home {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    min-height: 430px;
    background: var(--container-color);
}
.home-text {
    color: var(--second-color);
    text-align: center;
}
.home-title {
    font-size: 3.2rem;
}
.home-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

/* Filter section . For future update */
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem !important;
}
.f-item {
    color: var(--bg-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 4px;
    background: var(--second-color);
    box-shadow: 1px 1px 1px 1px rgb(145, 145, 145),
    1px 1px 2px 3px lightgray;
    cursor: pointer;
}

/* Posts Section */
.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;    
}
.post-card {
    background: var(--bg-color);
    box-shadow: 1px 1px 1px 1px rgb(145, 145, 145),
    1px 1px 2px 3px lightgray; 
    padding: 15px;
    border-radius: 0.5rem;
}
.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.more {
    padding: 5px 10px;
    background: #00ADB5;
    color: var(--bg-color);
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.more:hover {
    background: #055a5f;
}

.catagory {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
}
.catagory-subheading {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--second-color);
}
.post-date {
    margin: 3px;
    color: #055a5f;
    font-weight: 500;
}
.post-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 0 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

/* Footer part */
footer{
    width: 100%;
    min-height: 20vh;
    background: var(--container-color);
}
